* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la galería */
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.galeria div {
    aspect-ratio: 16/9;
    background-color: transparent;
    height: 30vh;
    border-radius: 1rem;
    transition: transform 0.3s ease, background-color 0.5s ease;
    border-radius: 0;
    overflow: hidden;  
    height: auto;
    border-radius: 1rem;
}

.galeria div:hover {
    transform: scale(1.02);
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;   
    border-radius: 4rem;
    overflow: hidden;
    border-radius: 1rem;
}

.galeria div:hover {
    cursor: pointer;
}

/* Estilos para el lightbox */
.lightbox {
    display: none;
    position: fixed;
    padding: 2rem; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.89);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
}

.lightbox.active {
    display: flex;
}

.lightbox-img {
    width: auto;      
    height: auto;
    max-width: 90vw;
    max-height: 95vh;
    object-fit: contain;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

/* Estilos para los botones */
.lightbox-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1100;
    padding: 1rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;  
    color:white;
    font-family: var(--card-font);
    font-size: 1.5rem;
    border: none;
    text-align: center;
    line-height: 50px;
    transition: background 0.3s ease;
}

.lightbox-btn.prev {
    left: 1vw;
}

.lightbox-btn.next {
    right: 1vw;
}

.lightbox-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: transparent;
  border: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  z-index: 1100;
  transition: transform 0.2s ease, color 0.3s ease;
}

.lightbox-close:hover {
  transform: rotate(90deg);
  color: #e7b5d6; /* tu color pastel */
}